<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glowing Agency</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body id="mobile">
    <header>

        <nav class="nav-bar">
            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="hosts.html" class="nav-link">Hosts</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">Quem Somos</a></li>
                <li class="nav-item"><a href="faq.html" class="nav-link">Perguntas</a></li>
                <li class="nav-item"><a href="form.html" class="nav-link">Inscrição</a></li>

            </ul>
    </header>



    
</body>

<body id="desk">
    
</body>
</html>